<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>download file</title>
</head>
<body>
    <a href="/">home</a>
    <form action="/downloadFile" method="POST">
        <label>email</label>
        <input type="email" name="email">
        <br><br>
        <label for="hash">Enter Hash of File to be downloaded</label><br>
        <input type="text" name="hash">
        <button type="submit">download</button>
    </form>
</body>
</html>