<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>remove success</title>
</head>
<body>
    <a href="/">home</a>
    <p> hash: <%= cid %> </p>
    <p>unpinStatus: <%= unpinStatus %></p>
</body>
</html>