<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>separate upload</title>
</head>
<body>
    <a href="/">home</a>
    <form action="/removeFile" method="POST">
        <label for="hash">Enter Hash of File to be removed</label><br>
        <input type="text" name="hash">
        <button type="submit">remove</button>
    </form>
</body>
</html>